<!DOCTYPE html>
<html lang="en">
<head>
    <script type="importmap">
        <%- include('../../output/import_map'); %>
    </script>
    <%- include('../../node_modules/@nidget/core/templates/partials/modules');    %>
</head>
<body>
    <%- include('../../node_modules/@nidget/core/templates/partials/nidget-templates');  %>
</body>
</html>

