<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../node_modules/@thaerious/nidget-renderer/dist/partials/head'); %>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>
<body>
    <%- include('../node_modules/@thaerious/nidget-renderer/dist/partials/nidget-templates'); %>

    <aspect-container>
        <player-container slot="contents"></player-container>
    </aspect-container>
    
</body>
</html>

