<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/${camel}/${camel}.css">
        <script type="importmap">{
            "imports" : {}
        }</script>
    </head>

    <body>
        <script type="module" src="/${camel}/${pascal}.mjs"></script>
        <%- buildTemplates -%>
    </body>
</html>