<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/${style}">
    <script type="importmap">
        <%- include(widget.lib_file) %>
    </script>
</head>
<body>
    <script type="module" src="/${script}"></script>
    <%- include(widget.template_file) %>
    <%- include('./body.ejs'); %>
</body>
</html>

