<!DOCTYPE html>
<html lang="en">
<head>
    <script type="importmap">
        <%- include('${import_map}'); %>
    </script>
    <%- include('${modules}');    %>
</head>
<body>
    <%- include('${templates}');  %>
</body>
</html>

