<!DOCTYPE html>
<html lang="en">
<head>
    <script type="importmap">
        <%- include('import_map'); %>
    </script>
</head>
<body>
    <%- include('${templates}');  %>
</body>
</html>

