<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/${style}">
    <script type="importmap">
        <%- include('${import_map}'); %>
    </script>
</head>
<body>
    <%- include('${templates}');  %>
</body>
</html>

